@charset "UTF-8";

form {
  display: block;
  margin-top: 0em;
}
.login-page {
  width: 600px;
}

.login-btn {
  text-align: center;
}

/* ボタン全体 */
.flowbtn11 {
  font-family: "Verdana", sans-serif;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 180px;
  height: 40px;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
}
/* Twitter */
.fl_tw1 {
  background: #55acee;
}
/* アイコンボタンホバー時 */
.flowbtn11:hover span {
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  text-decoration: none;
}
/* ボタン内テキスト調整 */
.flowbtn11 span {
  font-size: 14px;
  position: relative;
  left: 8px;
  top: 2px;
  bottom: 2px;
  transition: 0.6s;
  display: inline-block;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti2 {
  padding: 0 !important;
}
/* アイコンボタンの位置調整 */
.snsbtniti2 {
  display: flex;
  flex-flow: row wrap;
}
/* アイコンボタン同士の余白調整 */
.snsbtniti2 li {
  flex: 0 0 48%;
  text-align: center !important;
}
